* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    width: 60px;
    border: 2px solid rgb(2, 97, 15);
    border-radius: 50%; 
    float: left;
    margin-left: 1%;
    margin-top: 4px;
}

.menu-bar {
    background-color: rgb(53, 184, 27);
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    padding-right: 2.5%;
}


.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff(255, 255, 255);
    text-align: center;
    margin-right: 2rem;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 12px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu-bar ul li:hover {
    background-color: rgb(78, 207, 78);
    border-radius: 3px;
}

.sub-menu-1 {
    display:none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: rgb(53, 184, 27);
    margin-top: 15px;
    margin-left: -15px;

    transition: ease-in-out ;
    transition-duration: 0.25;

}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background-color: transparent;
    border-radius: 0px;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: rgb(0, 88, 7);
}

body h1 {
    color: green;
}

html h1 {
    color: rgb(0, 88, 27);
    margin-inline-start: 120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 2px 0px 17px;  

}


