* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    width: 60px;
    border: 2px solid rgb(2, 97, 15);
    border-radius: 50%; 
    float: left;
    margin-left: 1%;
    margin-top: 4px;
}

.menu-bar {
    background-color: rgb(53, 184, 27);
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    padding-right: 2.5%;
}


.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff(255, 255, 255);
    text-align: center;
    margin-right: 2rem;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 12px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu-bar ul li:hover {
    background-color: rgb(78, 207, 78);
    border-radius: 3px;
}

.sub-menu-1 {
    display:none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: rgb(53, 184, 27);
    margin-top: 15px;
    margin-left: -15px;

    transition: ease-in-out ;
    transition-duration: 0.25;

}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background-color: transparent;
    border-radius: 0px;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: rgb(0, 88, 7);
}

body h1 {
    color: green;
}

html h1 {
    color: rgb(0, 88, 27);
    margin-inline-start: 120px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

/*-------------------------img-------------------------*/
.img {
    width: 100%;
    height: inherit;
}

.inner{
    padding-top: 30px;
}

.container{
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.sem{
    background-color: rgb(140, 196, 11);
    padding: 20px;
    margin: 25px;
    height: 18em;
    width: 30em;
    border-radius: 10px;
    border:10px;
}

.remo1{
float: left;
}

body h2 {
    color: rgb(4, 110, 4);
  }
  
  html h2 {
    color: rgb(2, 77, 27);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.remo2{
    float: left;
    }

/*Branch*/

.container1 {
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.dud {
    background-color: rgb(140, 196, 11);
    padding: 20px;
    margin: 25px;
    height: 18em;
    width: 30em;
    border-radius: 10px;
    border:10px;
}

.sam1 {
    float: left;
}

body h2 {
    color: rgb(4, 110, 4);
}

html h2 {
    color: rgb(2, 77, 27);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sam2 {
    float: left;
}


.container2 {
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.dam {
    background-color: rgb(140, 196, 11);
    padding: 20px;
    margin: 25px;
    height: 18em;
    width: 30em;
    border-radius: 10px;
    border:10px;
}

.mam1 {
    float: left;
}

body h2 {
    color: rgb(4, 110, 4);
}

html h2 {
    color: rgb(2, 77, 27);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mam2 {
    float: left;
}



.container3 {
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.dad {
    background-color: rgb(140, 196, 11);
    padding: 20px;
    margin: 25px;
    height: 18em;
    width: 30em;
    border-radius: 10px;
    border:10px;
}

.sai1 {
    float: left;
    font-size: small;
}

body h2 {
    color: rgb(4, 110, 4);
}

html h2 {
    color: rgb(2, 77, 27);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sai2 {
    float: left;
}



.container4 {
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.dee {
    background-color: rgb(140, 196, 11);
    padding: 20px;
    margin: 25px;
    height: 18em;
    width: 30em;
    border-radius: 10px;
    border:10px;
}

.mom1 {
    float: left;
}

body h2 {
    color: rgb(4, 110, 4);
}

html h2 {
    color: rgb(2, 77, 27);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.btn{
    display: grid;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border:10px;
    
 /* background-color: white; */
}






 * { box-sizing: border-box; }  
 .container99 {  
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");  
  display: flex;  
  flex-wrap: wrap;  
  height: 60vh;  
  align-items: center;  
  justify-content: center;  
  padding: 0 10px;  
  background-color: rgb(128, 199, 23);
  width: 100%;
  margin: auto;
  border-radius: 10px;
  border:10px;
 }  
 .rating {  
  display: flex;  
  width: 100%;  
  justify-content: center;  
  overflow: hidden;  
  flex-direction: row-reverse;  
  height: 150px;  
  position: relative;  
 }  
 .rating-0 {  
  filter: grayscale(100%);  
 }  
 .rating > input {  
  display: none;  
 }  
 .rating > label {  
  cursor: pointer;  
  width: 40px;  
  height: 40px;  
  margin-top: auto;  
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");  
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: 76%;  
  transition: .3s;  
 }  
 .rating > input:checked ~ label,  
 .rating > input:checked ~ label ~ label {  
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");  
 }  
 .rating > input:not(:checked) ~ label:hover,  
 .rating > input:not(:checked) ~ label:hover ~ label {  
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");  
 }  
 .emoji-wrapper {  
  width: 100%;  
  text-align: center;  
  height: 100px;  
  overflow: hidden;  
  position: absolute;  
  top: 0;  
  left: 0;  
 }  
 .emoji-wrapper:before,  
 .emoji-wrapper:after{  
  content: "";  
  height: 15px;  
  width: 100%;  
  position: absolute;  
  left: 0;  
  z-index: 1;  
 }  
 .emoji-wrapper:before {  
  top: 0;  
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);  
 }  
 .emoji-wrapper:after{  
  bottom: 0;  
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);  
 }  
 .emoji {  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  transition: .3s;  
 }  
 .emoji > svg {  
  margin: 15px 0;   
  width: 70px;  
  height: 70px;  
  flex-shrink: 0;  
 }  
 #rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }  
 #rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }  
 #rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }  
 #rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }  
 #rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }  
 .feedback {  
  max-width: 360px;  
  background-color: #fff;  
  width: 100%;  
  padding: 30px;  
  border-radius: 8px;  
  display: flex;  
  flex-direction: column;  
  flex-wrap: wrap;  
  align-items: center;  
  box-shadow: 0 4px 30px rgba(0,0,0,.05);  
 }  


 



 
