<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-control" content="public">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Library</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <!--<link rel="stylesheet" href="../static/css/civil.css">-->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <header class="menu-bar">
    
    <a href="../index.html"><img class="logo" src="../static/images/logo.jpg" alt="logo"></a>

    <ul>
      <li id="#home" class=""><a href="../index.html">Home</a></li>
    </ul>
  </header>

  <div class="brand">
    Electronics & Telecommunication Engineering
  </div>
  <div id="accordion">
    
    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo1')">Third Semester
      </div>
      <div class="madi w3-container w3-hide" id="Demo1">



        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">
              GE2201 - Engineering Mathematics III
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2201 - Engineering Mathematics III</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="Engineering Mathematics III (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">GE2201 - Engineering
                      Mathematics III (1)</a> <br>
                    <a download="Engineering Mathematics III (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">GE2201 - Engineering Mathematics III
                      (2)</a> <br>
                    <a download="Engineering Mathematics III (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">GE2201 - Engineering
                      Mathematics III (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              ET2201-Electroics Devices and Circuits
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2201-Electroics Devices and Circuits</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2201-Electroics Devices and Circuits (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2201-Electroics Devices and
                      Circuits (1)</a>
                    <br>
                    <a download="ET2201-Electroics Devices and Circuits (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2201-Electroics Devices and
                      Circuits (2)</a>
                    <br>
                    <a download="ET2201-Electroics Devices and Circuits (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2201-Electroics Devices and
                      Circuits (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal2">
              ET2203-Digital Circuits and Fundamentals of Microprocessor
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2203-Digital Circuits and Fundamentals of
                      Microprocessor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2203-Digital Circuits and Fundamentals of Microprocessor (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2203-Digital Circuits and
                      Fundamentals of Microprocessor (1)</a>
                    <br>
                    <a download="ET2203-Digital Circuits and Fundamentals of Microprocessor (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2203-Digital Circuits and
                      Fundamentals of Microprocessor (2)</a>
                    <br>
                    <a download="ET2203-Digital Circuits and Fundamentals of Microprocessor (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2203-Digital Circuits and
                      Fundamentals of Microprocessor (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal3">
              ET2205-Electronics Measurement and Instrumentation
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2205-Electronics Measurement and Instrumentation
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2205-Electronics Measurement and Instrumentation (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2205-Electronics Measurement and
                      Instrumentation (1)</a>
                    <br>
                    <a download="ET2205-Electronics Measurement and Instrumentation (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2205-Electronics Measurement and
                      Instrumentation (2)</a>
                    <br>
                    <a download="ET2205-Electronics Measurement and Instrumentation (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2205-Electronics Measurement and
                      Instrumentation (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal4">
              ET2207-Network Analysis
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2207-Network Analysis</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2207-Network Analysis (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2207-Network Analysis (1)</a>
                    <br>
                    <a download="ET2207-Network Analysis (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2207-Network Analysis (2)</a>
                    <br>
                    <a download="ET2207-Network Analysis (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2207-Network Analysis (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>



    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo2')">Fourth Semester
      </div>
      <div class="madi w3-container w3-hide" id="Demo2">

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal5">
              GE2204-Advance Mathematical Techniques
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2204-Advance Mathematical Techniques</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="GE2204-Advance Mathematical Techniques (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">GE2204-Advance Mathematical
                      Techniques (1)</a>
                    <br>
                    <a download="GE2204-Advance Mathematical Techniques (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">GE2204-Advance Mathematical
                      Techniques (2)</a>
                    <br>
                    <a download="GE2204-Advance Mathematical Techniques (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">GE2204-Advance Mathematical
                      Techniques (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal6">
              ET2251-Electromagnetic Field </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2251-Electromagnetic Field</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2251-Electromagnetic Field (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2251-Electromagnetic Field (1)</a>
                    <br>
                    <a download="ET2251-Electromagnetic Field (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2251-Electromagnetic Field (2)</a>
                    <br>
                    <a download="ET2251-Electromagnetic Field (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2251-Electromagnetic Field (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal7">
              ET2252-Microcontroller and Interfacing
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2252-Microcontroller and Interfacing</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2252-Microcontroller and Interfacing (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2252-Microcontroller and
                      Interfacing (1)</a>
                    <br>
                    <a download="ET2252-Microcontroller and Interfacing (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2252-Microcontroller and
                      Interfacing (2)</a>
                    <br>
                    <a download="ET2252-Microcontroller and Interfacing (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2252-Microcontroller and
                      Interfacing (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal8">
              ET2254-Analog Communication
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2204-Advance Mathematical Techniques</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2254-Analog Communication (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2254-Analog Communication (1)</a>
                    <br>
                    <a download="ET2254-Analog Communication (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2254-Analog Communication (2)</a>
                    <br>
                    <a download="ET2254-Analog Communication (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2254-Analog Communication (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal9">
              ET2256-Control Systems
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2256-Control Systems</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2256-Control Systems (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2256-Control Systems (1)</a>
                    <br>
                    <a download="ET2256-Control Systems (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2256-Control Systems (2)</a>
                    <br>
                    <a download="ET2256-Control Systems (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2256-Control Systems (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo3')">Fifth Semester
      </div>
      <div class="madi w3-container w3-hide" id="Demo3">

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal10">
              GE2312-Fundamental of Economics
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2312-Fundamental of Economics</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="GE2312-Fundamental of Economics (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">GE2312-Fundamental of Economics
                      (1)</a>
                    <br>
                    <a download="GE2312-Fundamental of Economics (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">GE2312-Fundamental of Economics
                      (2)</a>
                    <br>
                    <a download="GE2312-Fundamental of Economics (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">GE2312-Fundamental of Economics
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal11">
              ET2301 -Analog Integrated circuits
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2301 -Analog Integrated circuits</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2301 -Analog Integrated circuits (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2301 -Analog Integrated circuits
                      (1)</a>
                    <br>
                    <a download="ET2301 -Analog Integrated circuits (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2301 -Analog Integrated circuits
                      (2)</a>
                    <br>
                    <a download="ET2301 -Analog Integrated circuits (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2301 -Analog Integrated circuits
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal12">
              ET2303-Fields & Radiating Systems
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2303-Fields & Radiating Systems</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2303-Fields & Radiating Systems (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2303-Fields & Radiating Systems
                      (1)</a>
                    <br>
                    <a download="ET2303-Fields & Radiating Systems (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2303-Fields & Radiating Systems
                      (2)</a>
                    <br>
                    <a download="ET2303-Fields & Radiating Systems (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2303-Fields & Radiating Systems
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>


        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal13">
              ET2304 -Signals & Systems
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2304 -Signals & Systems</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2304 -Signals & Systems (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2304 -Signals & Systems
                      (1)</a>
                    <br>
                    <a download="ET2304 -Signals & Systems (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2304 -Signals & Systems
                      (2)</a>
                    <br>
                    <a download="ET2304 -Signals & Systems (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2304 -Signals & Systems
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo4')">Sixth Semester
      </div>
      <div class="madi w3-container w3-hide" id="Demo4">

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal14">
              GE2311-Fundamental of Management
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal14" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2311-Fundamental of Management</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="GE2311-Fundamental of Management (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">GE2311-Fundamental of Management
                      (1)</a>
                    <br>
                    <a download="GE2311-Fundamental of Management (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">GE2311-Fundamental of Management
                      (2)</a>
                    <br>
                    <a download="GE2311-Fundamental of Management (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">GE2311-Fundamental of Management
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal15">
              ET2351-Digital Signal Processing
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2351-Digital Signal Processing</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2351-Digital Signal Processing (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2351-Digital Signal Processing
                      (1)</a>
                    <br>
                    <a download="ET2351-Digital Signal Processing (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2351-Digital Signal Processing
                      (2)</a>
                    <br>
                    <a download="ET2351-Digital Signal Processing (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2351-Digital Signal Processing
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo5')">Seventh
        Semester</div>
      <div class="madi w3-container w3-hide" id="Demo5">

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal16">
              ET2401-RF & Microwave
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal16" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2401-RF & Microwave</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2351-Digital Signal Processing (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2401-RF & Microwave
                      (1)</a>
                    <br>
                    <a download="ET2351-Digital Signal Processing (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2401-RF & Microwave
                      (2)</a>
                    <br>
                    <a download="ET2351-Digital Signal Processing (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2401-RF & Microwave
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal17">
              ET2403-Digital Communication
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal17" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ET2403-Digital Communication</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ET2403-Digital Communication (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ET2403-Digital Communication
                      (1)</a>
                    <br>
                    <a download="ET2403-Digital Communication (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ET2403-Digital Communication
                      (2)</a>
                    <br>
                    <a download="ET2403-Digital Communication (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ET2403-Digital Communication
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <script src="../static/javascript/script.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
      </script>

  </div>
</body>

</html>