<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-control" content="public">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Library</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <!--<link rel="stylesheet" href="../static/css/civil.css">-->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <header class="menu-bar">
    
    <a href="../templates/index.html"><img class="logo" src="../static/images/logo.jpg" alt="logo"></a>

    <ul>
      <li id="#home" class=""><a href="../templates/index.html">Home</a></li>
    </ul>
  </header>

  <div class="brand">
    Information Engineering
  </div>
  <div id="accordion">

    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo1')">Third Semester
      </div>
      <div class="madi w3-container w3-hide" id="Demo1">


        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">
              GE2201 - Engineering Mathematics III
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2201 - Engineering Mathematics III</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="Engineering Mathematics III (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">GE2201 - Engineering
                      Mathematics III (1)</a> <br>
                    <a download="Engineering Mathematics III (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">GE2201 - Engineering Mathematics III
                      (2)</a> <br>
                    <a download="Engineering Mathematics III (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">GE2201 - Engineering
                      Mathematics III (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              IT2201-Digital Circuits & Microprocessors
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IT2201-Digital Circuits & Microprocessors</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="IT2201-Digital Circuits & Microprocessors (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">IT2201-Digital Circuits &
                      Microprocessors (1)</a>
                    <br>
                    <a download="IT2201-Digital Circuits & Microprocessors (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">IT2201-Digital Circuits &
                      Microprocessors (2)</a>
                    <br>
                    <a download="IT2201-Digital Circuits & Microprocessors (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">IT2201-Digital Circuits &
                      Microprocessors (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal2">
              IT2203-Object Oriented Programming
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IT2203-Object Oriented Programming</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="IT2203-Object Oriented Programming (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">IT2203-Object Oriented Programming
                      (1)</a>
                    <br>
                    <a download="IT2203-Object Oriented Programming (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">IT2203-Object Oriented Programming
                      (2)</a>
                    <br>
                    <a download="IT2203-Object Oriented Programming (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">IT2203-Object Oriented Programming
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal3">
              IT2205-Data Structures and Program Design-I
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IT2205-Data Structures and Program Design-I</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="IT2205-Data Structures and Program Design-I (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">IT2205-Data Structures and Program
                      Design-I (1)</a>
                    <br>
                    <a download="IT2205-Data Structures and Program Design-I (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">IT2205-Data Structures and Program
                      Design-I (2)</a>
                    <br>
                    <a download="IT2205-Data Structures and Program Design-I (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">IT2205-Data Structures and Program
                      Design-I (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>



    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo2')">Fourth Semester
      </div>
      <div class="madi w3-container w3-hide" id="Demo2">


        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal5">
              GE2206-Discrete Mathematics and Probability Theory
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2206-Discrete Mathematics and Probability Theory
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="GE2206-Discrete Mathematics and Probability Theory (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">GE2206-Discrete Mathematics and
                      Probability Theory (1)</a>
                    <br>
                    <a download="GE2206-Discrete Mathematics and Probability Theory (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">GE2206-Discrete Mathematics and
                      Probability Theory (2)</a>
                    <br>
                    <a download="GE2206-Discrete Mathematics and Probability Theory (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">GE2206-Discrete Mathematics and
                      Probability Theory (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal6">
              IT2251-Data Structures and Program Design-II
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IT2251-Data Structures and Program Design-II</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="IT2251-Data Structures and Program Design-II (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">IT2251-Data Structures and Program
                      Design-II (1)</a>
                    <br>
                    <a download="IT2251-Data Structures and Program Design-II (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">IT2251-Data Structures and Program
                      Design-II (2)</a>
                    <br>
                    <a download="IT2251-Data Structures and Program Design-II (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">IT2251-Data Structures and Program
                      Design-II (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal7">
              IT2253-Computer Networks
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IT2253-Computer Networks</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="IT2253-Computer Networks (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">IT2253-Computer Networks (1)</a>
                    <br>
                    <a download="IT2253-Computer Networks (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">IT2253-Computer Networks (2)</a>
                    <br>
                    <a download="IT2253-Computer Networks (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">IT2253-Computer Networks (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal8">
              IT2255-Operating Systems
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IT2255-Operating Systems</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="IT2255-Operating Systems (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">IT2255-Operating Systems (1)</a>
                    <br>
                    <a download="IT2255-Operating Systems (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">IT2255-Operating Systems (2)</a>
                    <br>
                    <a download="IT2255-Operating Systems (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">IT2255-Operating Systems (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal9">
              IT2257-Theory of Computation
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IT2257-Theory of Computation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="IT2257-Theory of Computation (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">IT2257-Theory of Computation (1)</a>
                    <br>
                    <a download="IT2257-Theory of Computation (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">IT2257-Theory of Computation (2)</a>
                    <br>
                    <a download="IT2257-Theory of Computation (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">IT2257-Theory of Computation (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo3')">Fifth Semester
      </div>
      <div class="madi w3-container w3-hide" id="Demo3">

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal10">
              GE2312-Fundamental of Economics
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2312-Fundamental of Economics</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="GE2312-Fundamental of Economics (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">GE2312-Fundamental of Economics
                      (1)</a>
                    <br>
                    <a download="GE2312-Fundamental of Economics (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">GE2312-Fundamental of Economics
                      (2)</a>
                    <br>
                    <a download="GE2312-Fundamental of Economics (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">GE2312-Fundamental of Economics
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal11">
              IT2301-Data Base Management Systems
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IT2301-Data Base Management Systems</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="IT2301-Data Base Management Systems (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">IT2301-Data Base Management Systems
                      (1)</a>
                    <br>
                    <a download="IT2301-Data Base Management Systems (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">IT2301-Data Base Management Systems
                      (2)</a>
                    <br>
                    <a download="IT2301-Data Base Management Systems (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">IT2301-Data Base Management Systems
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo4')">Sixth Semester
      </div>
      <div class="madi w3-container w3-hide" id="Demo4">
        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal12">
              GE2311-Fundamental of Management
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2311-Fundamental of Management</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="GE2311-Fundamental of Management (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">GE2311-Fundamental of Management
                      (1)</a>
                    <br>
                    <a download="GE2311-Fundamental of Management (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">GE2311-Fundamental of Management
                      (2)</a>
                    <br>
                    <a download="GE2311-Fundamental of Management (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">GE2311-Fundamental of Management
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal13">
              IT2351-Design & Analysis of Algorithms
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IT2351-Design & Analysis of Algorithms</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="IT2351-Design & Analysis of Algorithms (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">IT2351-Design & Analysis of
                      Algorithms (1)</a>
                    <br>
                    <a download="IT2351-Design & Analysis of Algorithms (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">IT2351-Design & Analysis of
                      Algorithms (2)</a>
                    <br>
                    <a download="IT2351-Design & Analysis of Algorithms (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">IT2351-Design & Analysis of
                      Algorithms (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal14">
              IT2353-Principles of Compiler Design
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal14" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IT2353-Principles of Compiler Design</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="IT2353-Principles of Compiler Design (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">IT2353-Principles of Compiler Design
                      (1)</a>
                    <br>
                    <a download="IT2353-Principles of Compiler Design (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">IT2353-Principles of Compiler Design
                      (2)</a>
                    <br>
                    <a download="IT2353-Principles of Compiler Design (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">IT2353-Principles of Compiler Design
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo5')">Seventh
        Semester</div>
      <div class="madi w3-container w3-hide" id="Demo5">

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal15">
              IT2401-Data Mining
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IT2401-Data Mining</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="IT2401-Data Mining (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">IT2401-Data Mining
                      (1)</a>
                    <br>
                    <a download="IT2401-Data Mining (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">IT2401-Data Mining
                      (2)</a>
                    <br>
                    <a download="IT2401-Data Mining (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">IT2401-Data Mining
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal16">
              IT2403-Principles of Artificial Intelligence
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal16" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">IT2403-Principles of Artificial Intelligence</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="IT2403-Principles of Artificial Intelligence (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">IT2403-Principles of Artificial
                      Intelligence
                      (1)</a>
                    <br>
                    <a download="IT2403-Principles of Artificial Intelligence (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">IT2403-Principles of Artificial
                      Intelligence
                      (2)</a>
                    <br>
                    <a download="IT2403-Principles of Artificial Intelligence (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">IT2403-Principles of Artificial
                      Intelligence
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <script src="../static/javascript/script.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
      </script>


</body>

</html>