<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-control" content="public">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Library</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <!--<link rel="stylesheet" href="../static/css/civil.css">-->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <header class="menu-bar">
    
    <a href="../index.html"><img class="logo" src="../static/images/logo.jpg" alt="logo"></a>

    <ul>
      <li id="#home" class=""><a href="../index.html">Home</a></li>
    </ul>
  </header>

  <div class="brand">
    Mechanical Engineering
  </div>
  <div id="accordion">

    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo1')">Third Semester
      </div>
      <div class="madi w3-container w3-hide" id="Demo1">

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal">
              GE2201 - Engineering Mathematics III
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2201 - Engineering Mathematics III</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="Engineering Mathematics III (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">GE2201 - Engineering
                      Mathematics III (1)</a> <br>
                    <a download="Engineering Mathematics III (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">GE2201 - Engineering Mathematics III
                      (2)</a> <br>
                    <a download="Engineering Mathematics III (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">GE2201 - Engineering
                      Mathematics III (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal1">
              ME2201-Material Science & Metallurgy
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2201-Material Science & Metallurgy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2201-Material Science & Metallurgy (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2201-Material Science & Metallurgy
                      (1)</a> <br>
                    <a download="ME2201-Material Science & Metallurgy (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2201-Material Science & Metallurgy
                      (2)</a> <br>
                    <a download="ME2201-Material Science & Metallurgy (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2201-Material Science & Metallurgy
                      (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>



        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal2">
              ME2203-Manufacturing Process -I
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2203-Manufacturing Process -I</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2203-Manufacturing Process -I (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2203-Manufacturing Process -I
                      (1)</a> <br>
                    <a download="ME2203-Manufacturing Process -I (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2203-Manufacturing Process -I
                      (2)</a> <br>
                    <a download="ME2203-Manufacturing Process -I (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2203-Manufacturing Process -I
                      (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>


        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal3">
              ME2205-Mechanics of Material
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2205-Mechanics of Material</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2205-Mechanics of Material (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2205-Mechanics of Material (1)</a>
                    <br>
                    <a download="ME2205-Mechanics of Material (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2205-Mechanics of Material (2)</a>
                    <br>
                    <a download="ME2205-Mechanics of Material (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2205-Mechanics of Material (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>



        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal4">
              ME2207-Kinematics of Machines
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2207-Kinematics of Machines</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2207-Kinematics of Machines (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2207-Kinematics of Machines (1)</a>
                    <br>
                    <a download="ME2207-Kinematics of Machines (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2207-Kinematics of Machines (2)</a>
                    <br>
                    <a download="ME2207-Kinematics of Machines (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2207-Kinematics of Machines (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal5">
              ME2208-Fluid Mechanics
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2208-Fluid Mechanics</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2208-Fluid Mechanics (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2208-Fluid Mechanics (1)</a> <br>
                    <a download="ME2208-Fluid Mechanics (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2208-Fluid Mechanics (2)</a> <br>
                    <a download="ME2208-Fluid Mechanics (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2208-Fluid Mechanics (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>



    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo2')">Fourth Semester
      </div>
      <div class="madi w3-container w3-hide" id="Demo2">

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal6">
              GE2204-Advance Mathematical Techniques
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2204-Advance Mathematical Techniques</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="GE2204-Advance Mathematical Techniques (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">GE2204-Advance Mathematical
                      Techniques (1)</a> <br>
                    <a download="GE2204-Advance Mathematical Techniques (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">GE2204-Advance Mathematical
                      Techniques (2)</a> <br>
                    <a download="GE2204-Advance Mathematical Techniques (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">GE2204-Advance Mathematical
                      Techniques (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal7">
              ME2251-Design of Machine Elements
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2251-Design of Machine Elements</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2251-Design of Machine Elements (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2251-Design of Machine Elements
                      (1)</a> <br>
                    <a download="ME2251-Design of Machine Elements (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2251-Design of Machine Elements
                      (2)</a> <br>
                    <a download="ME2251-Design of Machine Elements (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2251-Design of Machine Elements
                      (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>


        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal8">
              ME2252-Engineering Thermodynamics
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal8" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2252-Engineering Thermodynamics</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2252-Engineering Thermodynamics (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2252-Engineering Thermodynamics
                      (1)</a> <br>
                    <a download="ME2252-Engineering Thermodynamics (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2252-Engineering Thermodynamics
                      (2)</a> <br>
                    <a download="ME2252-Engineering Thermodynamics (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2252-Engineering Thermodynamics
                      (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal9">
              ME2254-Manufacturing Process-II
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2254-Manufacturing Process-II</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2254-Manufacturing Process-II (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2254-Manufacturing Process-II
                      (1)</a> <br>
                    <a download="ME2254-Manufacturing Process-II (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2254-Manufacturing Process-II
                      (2)</a> <br>
                    <a download="ME2254-Manufacturing Process-II (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2254-Manufacturing Process-II
                      (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal10">
              ME2256-Mechanical measurement & Metrology
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2256-Mechanical measurement & Metrology</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2256-Mechanical measurement & Metrology (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2256-Mechanical measurement &
                      Metrology (1)</a> <br>
                    <a download="ME2256-Mechanical measurement & Metrology (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2256-Mechanical measurement &
                      Metrology (2)</a> <br>
                    <a download="ME2256-Mechanical measurement & Metrology (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2256-Mechanical measurement &
                      Metrology (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo3')">Fifth Semester
      </div>
      <div class="madi w3-container w3-hide" id="Demo3">

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal11">
              GE2311-Fundamental of Management
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal11" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2311-Fundamental of Management</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="GE2311-Fundamental of Management (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">GE2311-Fundamental of Management
                      (1)</a> <br>
                    <a download="GE2311-Fundamental of Management (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">GE2311-Fundamental of Management
                      (2)</a> <br>
                    <a download="GE2311-Fundamental of Management (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">GE2311-Fundamental of Management
                      (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>


        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal12">
              ME2301-Heat Transfer
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2301-Heat Transfer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2301-Heat Transfer (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2301-Heat Transfer (1)</a> <br>
                    <a download="ME2301-Heat Transfer (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2301-Heat Transfer (2)</a> <br>
                    <a download="ME2301-Heat Transfer (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2301-Heat Transfer (3)</a> <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal13">
              ME2303-Dynamics of Machines
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal13" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2303-Dynamics of Machines</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2303-Dynamics of Machines (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2303-Dynamics of Machines (1)</a>
                    <br>
                    <a download="ME2303-Dynamics of Machines (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2303-Dynamics of Machines (2)</a>
                    <br>
                    <a download="ME2303-Dynamics of Machines (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2303-Dynamics of Machines (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal14">
              ME2305-Production Management
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal14" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2305-Production Management</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2305-Production Management (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2305-Production Management (1)</a>
                    <br>
                    <a download="ME2305-Production Management (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2305-Production Management (2)</a>
                    <br>
                    <a download="ME2305-Production Management (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2305-Production Management (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo4')">Sixth Semester
      </div>
      <div class="madi w3-container w3-hide" id="Demo4">


        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal15">
              GE2312-Fundamental of Economics
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal115" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2312-Fundamental of Economics</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="GE2312-Fundamental of Economics (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">GE2312-Fundamental of Economics
                      (1)</a>
                    <br>
                    <a download="GE2312-Fundamental of Economics (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">GE2312-Fundamental of Economics
                      (2)</a>
                    <br>
                    <a download="GE2312-Fundamental of Economics (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">GE2312-Fundamental of Economics
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal16">
              ME2351-Fluid Machines
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal116" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2351-Fluid Machines</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2351-Fluid Machines (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2351-Fluid Machines (1)</a>
                    <br>
                    <a download="ME2351-Fluid Machines (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2351-Fluid Machines (2)</a>
                    <br>
                    <a download="ME2351-Fluid Machines (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2351-Fluid Machines (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>



        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal17">
              ME2354-Design of Mechanical Drives
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal17" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">GE2312-Fundamental of Economics</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2354-Design of Mechanical Drives (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2354-Design of Mechanical Drives
                      (1)</a>
                    <br>
                    <a download="ME2354-Design of Mechanical Drives (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2354-Design of Mechanical Drives
                      (2)</a>
                    <br>
                    <a download="ME2354-Design of Mechanical Drives (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2354-Design of Mechanical Drives
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="Semester w3-margin">
      <!-- <input type="checkbox" checked> -->
      <!-- <i></i> -->
      <div class="button w3-btn w3-block w3-center-align" onclick="myFunction('Demo5')">Seventh
        Semester</div>
      <div class="madi w3-container w3-hide" id="Demo5">


        <!-- ------------------------------------bootstrap------------------------------------ -->
        <ul>
          <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal18">
              ME2401-Automation In Production
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal18" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ME2401-Automation In Production</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <a download="ME2401-Automation In Production (1).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (1).pdf">ME2401-Automation In Production
                      (1)</a>
                    <br>
                    <a download="ME2401-Automation In Production (2).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (2).pdf">ME2401-Automation In Production
                      (2)</a>
                    <br>
                    <a download="ME2401-Automation In Production (3).pdf"
                      href="../static/QPapers/civil/sem 3/Engineering Mathematics III (3).pdf">ME2401-Automation In Production
                      (3)</a>
                    <br>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <script src="../static/javascript/script.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

  </div>
</body>

</html>